{% extends "../layouts/base.html" %}

{% block content %}
    <section class="all-student-card my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-wrapper my-3 d-flex gap-3">
                        <a href="/new-student/" class="btn btn-primary">Add Student</a>
                    </div>
                </div>
               {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if response is not None %}
                    {% for item in response %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="card mb-3">
                            <img src="{{ item.imageUrl }}" class="card-img-top" alt="{{item.imageUrl}}"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.stdCls }}</h6>
                                <p class="card-text">{{ item.details }}</p>

                                <div class="d-flex gap-3 flex-wrap">
                                    <a href="/student-details/{{ item.id }}" class="card-link btn btn-success m-0">More Details</a>
                                    <a href="/delete-student/{{ item.id }}" class="card-link btn btn-danger m-0">Delete</a>
                                    <a href="/edit-student/{{ item.id }}" class="card-link btn btn-info m-0">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                     <p>No data available</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}